.navbar {
    background-color: #bc9b8d !important;
}

.navbar-brand{
    font-family: "Tenor Sans", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
}

.ra{
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

#categories-section .navbar-nav .nav-item {
    margin: 0 20px; 
}

#categories-section .navbar-nav .nav-link {
    font-size: 1.3rem;  
    text-align: center;  
}

#dropdownitem{
    text-align: center;
}

.nav-item.dropdown .dropdown-menu {
    top: 80%;
    margin-top: 0;
    margin-left: 0;
    background-color: #ede1d3;
}

#carousel-img0 {
    background-image: url('assets/images/try.jpg');
}  

#carousel-img1 {
    background-image: url('/assets/images/secondcarousel.jpg');
}

#carousel-img2{
    background-image: url('/assets/images/thirdcarousel.jpg');
}

.carousel-caption{
    background-color: rgba(250, 243, 240, 0.5);  
    color: #272626;
    display: inline-block;
}

.carousel-caption p {
    font-size: 1.4rem;
}

#carousel-img0, #carousel-img1, #carousel-img2 {
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    height: 70vh; 
    fill-opacity: 0.2;
}
