.navbar {
    background-color: #bc9b8d !important;
}

.navbar-brand{
    font-family: "Tenor Sans", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: black;
}

.ra{
    font-family: "Macondo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}

#categories-section .navbar-nav .nav-item {
    margin: 0 20px; 
}

#categories-section .navbar-nav .nav-link {
    font-size: 1.3rem;  
    text-align: center;  
}

#dropdownitem{
    text-align: center;
}

.nav-item.dropdown .dropdown-menu {
    top: 80%;
    margin-top: 0;
    margin-left: 0;
    background-color: #ede1d3;
}


#carousel-item0 {
    background-image: url('assets/images/photo_2024-05-13_19-54-48.jpg');
  }  

/*similar fonts are: 1. tenor sans 2.Julius Sans One 3.Oregano 4.Ysabeau Office 5.Ysabeau SC 6.Ysabeau Infant/

/*
to do next - 1. check if its better to put the sign in the middle (maybe without the svg or just as an icon)
2. to pick a picture from library in an assign next to it a colored screen where the text would be


*/